.sidebar {
    padding: 16px;
    background: #fff;
    border-radius: 8px;
      border: 2px dashed red;
    
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  
  .sublist {
    list-style: none;
    padding-left: 16px;
    margin: 4px 0 12px;
  }
  
  .sublist li {
    margin-bottom: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .sublist li:hover {
    background-color: #ffe082;
  }
  
  
  .sublist label {
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .sublist input {
    margin-right: 6px;
  }
  
  .subitem {
    cursor: pointer;
    font-size: 0.9rem;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .subitem:hover {
    background-color: #ffe082;
  }
  