// 色碼
//主色系(綠)
//輔色系(深米)
//灰色(說明文字(深)--bs-gray-600: #6c757d;、邊框(淺)--bs-gray-400: #ced4da)
//背景色(暫定全白、之後覺得空虛再改)
//按鈕=>#988450(土綠;用途:加入購物車、留言、下一步、送出、登入、註冊、編輯)
//按鈕=>--bs-danger(紅色，用途:刪除)
//btn pirmary secondary
//text pirmary secondary
//bg pirmary secondary


// $primary:#70823C;
$paw-primary:#E1C599;
$paw-secondary:#70823C;




$text-primary:black;
$btn-primary:#988450;

// $secondary:#E1C599;
$text-secondary:#6c757d;
$btn-secondary:#ECC978;

//others
$link-color:#A4992A;
$hover-color:#E9D1B0;

// ----------未使用的顏色們---------------
// $success:#DDB227;
// $info:#988450;
// $light:#F7F0E7;
// #F1E3C2
// #F7F6EE

